# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/

# OS
Thumbs.db
.DS_Store

# ComfyUI cache
outputs/
temp/

# OneTrainer cache
cache/